@page "/user/create"

@inherits bookstore.Client.Components.User.UserCreateComponent

<h1>Create User</h1>

<hr />  

<div class="row">  
    <div class="col-md-4">  
        <div class="form-group">
            <label for="FirstName" class="control-label">First Name</label>
            <input for="FirstName" class="form-control" bind="@User.FirstName" />
        </div>
        <div class="form-group">
            <label for="LastName" class="control-label">Last  Name</label>
            <input for="LastName" class="form-control" bind="@User.LastName" />
        </div>
        <div class="form-group">
            <label for="Username" class="control-label">Username</label>
            <input for="Username" class="form-control" bind="@User.Username" />
        </div>
        <div class="form-group">
            <label for="Email" class="control-label">Email</label>
            <input type="email" for="Email" class="form-control" bind="@User.Email" />
        </div>
        <div class="form-group">
            <label for="Password" class="control-label">Password</label>
            <input type="password" for="Password" class="form-control" bind="@User.Password" />
        </div>
        <div class="form-group">
            <button class="btn btn-default" onclick="@(async () => await CreateUser())">Save</button>
            <button class="btn" onclick="@RedirectToList">Cancel</button>
        </div>
    </div>  
</div>  